
  .renderMore {
    background-color:  #2182e4;
    position: relative;
    border-radius: 10px;
    left: 44%;
    border: none;
    color: white;
    padding: 18px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  .teamButton {
    background: none;
    color:  #2182e4;
    position: relative;
    left: 90%;
    border: none;
    padding: 18px 30px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    top: 20px;
  }
  .buttonBackTeam {
    background: none;
    color:  #2182e4;
    position: relative;
    left: 90%;
    border: none;
    padding: 18px 30px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    top: 20px;
  }
  .buttonBack {
    background: none;
    position: relative;
    left: 0%;
    border: none;
    color: white;
    padding: 18px 30px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    top: 20px;
  }
  
  .teamButton:hover {
    color: #1d4ad1;
  }
  .renderMore:hover {
    background-color: #1d4ad1;
  }
  .buttonBack:hover {
    color: black;
  }
