body {
    font-family: sans-serif;
  }
  .pokemonCardContainerDetails {
    max-width: 100%;
    height: 100%;
  }
  .zoomDetails {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .zoomDetails img {
    width: 300px;
    height: 300px;
    margin-top: 20%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .zoomDetails:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .backgroundDetails {
    text-align: center;
    background: radial-gradient(#8dc6ff, #1d4ad1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: "600";
    height: 100%;
  }
  .card-containerDetails{
      display:flex;
      margin-top: 80px;
      width:100%;
      flex-wrap: wrap;
      justify-content: center;
      gap:40px
  }
  .pokemonNameDetails {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 65%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 200px;
    margin-top: -530px;
    margin-bottom: 530px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 65%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    width: 200px;
    margin-top: -480px;
    margin-bottom: 480px;
  }
  .pokemonContent {
    background-color: white;
    display: flex;
  }
