@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/Pokemon Hollow.ttf') format('truetype');
}
@font-face {
  font-family: 'Pokemon2';
  src: url('../fonts/Pokemon Solid.ttf') format('truetype');
}
body {
    font-family: sans-serif;
  }
  .zoomDetails {
    overflow: hidden;
  }
  .zoomDetails img {
    width: 400px;
    height: 400px;
    margin-top: 2%;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .zoomDetails:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .backgroundDetails {
    text-align: center;
    background: radial-gradient(#8dc6ff, #1d4ad1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: "600";
    height: 100%;
  }
  .card-containerDetails{
      display:flex;
      margin-top: 80px;
      width:100%;
      flex-wrap: wrap;
      justify-content: center;
      gap:40px
  }
  .pokemonNameDetails {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Pokemon;
    color: white;
    padding: 10px;
    margin-left: 41%;
    background-color: black;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 200px;
  }
  h2 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 65%;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-top: -490px;
    margin-bottom: 480px;
  }
  h3 {
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 10px;
    margin-left: 65%;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-top: -500px;
    margin-bottom: 480px;
  }